.songlist-container {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.songlist-item {
  background-color: #1a1a1a;
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.songlist-info {
  font-weight: bold;
  flex: 1;
  flex: 2;
  font-size: 0.9rem;
  color: #b3b3b3;
  overflow-wrap: break-word;
}

.songlist-buttons {
  display: flex;
  gap: 0.5rem;
}

.play-button,
.delete-button {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.play-button {
  background-color: #1ed760;
  color: #121212;
}

.play-button:hover {
  background-color: #1db954;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
}

.delete-button:hover {
  background-color: #e60000;
}
